@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --deep-purple: #7b4397; 
  --light-purple: #9f5f80;
  --lavender: #D3CCE3;
  --grey-purple: #E6E6E6; 
  --white-purple: #fbf7ff;
  --black-purple: #333;
 
  --yellow: #f1c40f; /* Complementary for deep purple */
  ---orange: #f39c12; /* Complementary for light purple */
  --pale-gold: #f7dc6f; /* A lighter complementary for a softer contrast */
  --light-yellow: #fcf3cf; /* Very light yellow for backgrounds */
  --dark-grey: #484848;

}

body {
  background-color: var(--lavender);
  color: var(--black-purple);
  font-family: 'DM Sans', sans-serif;
}

a {
  color: var(--deep-purple);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--light-purple);
}
