.title {
    color: var(--color-primary);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .project_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  