.footer_container {
    width: 100vw;
    height: 100vh;
    padding: 1rem 0;
    background-color: var(--light-yellow); 
    color: var(--black-purple); 
    text-align: center;
    border-top: 6px solid var(--gold); 
  }
  
  .footer_content p {
    margin: 0.5rem 0; 
    font-size: 1rem;
    line-height: 1.5;
  }
  