.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid var();
}

.links{
  margin-left: 50vw;
}

.links a {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-right: 2rem;
    background-color: var(--light-purple);
    color: var(--white-purple); 
    text-decoration: none; 
    border-radius: 1rem; 
    border: 3px solid var(--light-purple);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer; 

  }
  
  .links a:hover {
    background-color: var(--white-purple); 
    color: var(--light-purple);
    border: 3px solid var(--light-purple);
    transform: translateY(-2px); 
  }
  
