.title_container{
    background-color: var(--white-purple);
    display: flex;
    flex-direction: row;
    border: 4px solid  var(--lightest-purple);
    box-shadow: 10px 10px 30px 5px var(--light-purple);
    border-radius: 4rem;
    padding: 4rem;
    transition: transform 0.3s ease-out;

}
.title_container:hover {
    transform: scale(1.05); 
  }

.title {
    color: var(--med-pink);
    text-align: left;
    font-size: 4.25rem;
    margin-bottom: 1rem;
  }
  
.sub_title{
    color: var(--deep-purple);
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0.5rem;  
}

.slogan{
    color: var(--light-purple);
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 2rem;    
}

.thanks{
  color: var(--mint-green);
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;  
}

.social_links a {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-right: 2rem;
    background-color: var(--light-purple);
    color: var(--white-purple); 
    text-decoration: none; 
    border-radius: 1rem; 
    border: 3px solid var(--light-purple);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer; 
  }
  
  .social_links a:hover {
    background-color: var(--white-purple); 
    color: var(--light-purple);
    border: 3px solid var(--light-purple);
    transform: translateY(-2px); 
  }
  

.title_pic{
    width: 300px;
    margin-left: 4rem;
    border-radius: 4rem;
    perspective: 1000px;
 
}
